html{
    box-sizing:border-box;
    font-family: 'karla';
    font-size: 16px;
  }

  body{
    padding: 20px;
  }
  h2, h4, p{
    margin:0;
  }
  *, *:before, *:after{
     box-sizing: inherit;
  }

   

  #card{
    
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 35);
    border-radius: 5px;
    overflow:hidden;

  }

  #top-section{
    width:100%;
    height:40%;
    padding:40px;
  }
  #bottom-section{
    display:flex;
    flex-direction: column;
    width:100%;
    height:60%;
    color:white;
  }
  #bottom-left-section{
    /* display:inline-block;   after apply the flexbox rules this line is no more needed*/
    /* width:50%;  initially i set this value just to see how it will look */
     /* width: 100%; after apply the flexbox rules this line is no more needed */
    height:100%;
    /* vertical-align: top;   after apply the flexbox rules this line is no more needed */
    background-color: #2ab2af; 
    flex-basis: 50%;
    padding: 35px;
    
  }
  #bottom-right-section{
    
    /*display:inline-block;   after apply the flexbox rules this line is no more needed * /

    /*width:50%;   initially i set this value just to see how it will look */

    /* width:100%;  after apply the flexbox rules this line is no more needed */
    height:100%;
    background-color: #2ebfbd;  
    flex-basis: 50%; 
   /*  vertical-align: top;  after apply the flexbox rules this line is no more needed  */
    padding: 35px; 
  }
  #bottom-left-section h4{
    margin-bottom: 15px;

  }
  #bottom-left-section p{
    margin-bottom: 40px;
    font-size: 0.8rem; 
  }
  #top-section h2{
    color:#2ab2af;
    margin-bottom: 20px;
  }
  #top-section h4{
    color:#c0df34;
    margin-bottom: 12.5px;
  }
  #top-section p{
    color:#98a6bd;
  }
  button{
    color:white;
    background-color: #c0df34; 
    border: none;
    padding: 12px;
    width: 58%;
    border-radius: 5px;
  }
  button:hover {
    cursor: pointer;
    background-color: #a9c42d; 
    transform: scale(1,1);
  }
  #price-container{
    display: flex;
    align-items: center;
    margin:10px;

  }
  /* #price-frequency, #price{
  
  }*/
  #price{
    font-weight: 700;
    font-size: 1.4rem;

  }
  #price-frequency{
    /* position: relative; */
   /* top: -3px; */
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
   /* margin-left: 5px;  */
  }

  ul{
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .attribution{
    padding:13px;
  }
 
 /* this is the perspective view of desktop responsive design which make things easy but 
 the rules advice to go for mobile point of view on responsive design and it will go below
  this commented code
  @media (max-width:992px){
  #card, #bottom-left-section, #bottom-right-section{
    width:100%;
    height: auto;
    width: auto;
  } 

} */
  
 /* below is mobile responsive design first approach */

 @media (min-width:576px){
/*  here i m targeting the #card id bcoz some element(width & height) were given defaulp value that wont permit the 
 response when the screen reduce the size */
      #card{ 
       width:1000px;
       height:450px;
      }
      #bottom-section{
        flex-direction: row;
      }
   /* #bottom-left-section, #bottom-right-section{
      width:50%;
    }     no need coz i applied the flexbox rules above and i commented the code to be removed*/
 }
